<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento das salas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
    </script>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <img src="https://raw.githubusercontent.com/edent/SuperTinyIcons/master/images/svg/gitlab.svg"
                 width="30"
                 height="30" alt="Logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" th:href="@{/movies}">Filmes</a>
                    <a class="nav-link" th:href="@{/rooms}">Salas</a>
                    <a class="nav-link" th:href="@{/snacks}">Lanches</a>
                    <a class="nav-link" th:href="@{/transactions/buy}">Comprar</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

<!-- This page will show a single session details, like number of tickets sold(like so: tickets_sold/total_available_seats_in_room), movie name, movie poster, movie duration, room id, room name, and a button to go back to the rooms page -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Detalhes da sessão</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img th:src="${sessao.movie.poster.url}" alt="Poster do filme" width="200" height="300">
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Filme (título original)</th>
                <th scope="col">Duração</th>
                <th scope="col">Sala</th>
                <th scope="col">Começo</th>
                <th scope="col">Ingressos disponíveis</th> <!-- Ingressos vendidos/lugares disponiveis -->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${sessao.movie.titleBr} + ' (' + ${sessao.movie.titleOriginal} + ')'"></td>
                <td th:text="${sessao.movie.length} + ' minutos'"></td>
                <td th:text="${sessao.room.id}"></td>
                <td th:text="${sessao.startTime}"></td>
                <td th:text="${sessao.availableSeats} + '/' + ${sessao.room.capacity}"></td>
            </tr>
            </tbody>
        </table>
        <!-- Add a return button -->
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary" th:href="@{/rooms}" role="button">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>