<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento do Snack Bar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous">
</script>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="https://raw.githubusercontent.com/edent/SuperTinyIcons/master/images/svg/gitlab.svg"
             width="30"
             height="30" alt="Logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/movies}">Filmes</a>
                <a class="nav-link" th:href="@{/rooms}">Salas</a>
                <a class="nav-link" th:href="@{/snacks}">Lanches</a>
                <a class="nav-link" th:href="@{/transactions/buy}">Comprar</a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar -->
<div class="container">
    <div class="row">
        <h1>Gerenciamento dos Snack Bar</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/snacks/new}" class="btn btn-primary">Adicionar snack</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="snack : ${snacks}">
            <td th:text="${snack.id}"></td>
            <td th:text="${snack.name}"></td>
            <td th:text="${snack.price}"></td>
            <td><a th:href="@{/snacks/{id}/edit(id=${snack.id})}" class="btn btn-primary">Editar</a></td>
            <td><a th:href="@{/snacks/{id}/delete(id=${snack.id})}" class="btn btn-danger">Excluir</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>